body{
    background-image: url('./laibrary.jfif');
    color:white;
    
}




.title{
    font-size:50px;
    text-align:center;
    
    
}
.title a{
    color: white;
}
.allButtons{
    font-size: 40px;
    font-family:cursive;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    justify-content: center;
    align-items:center;
    margin: auto;
    
    
}
button{
   justify-content:center;
   align-items:center;
    height: 200px;
    width: 250px;
    font-size: 40px;
    font-family:cursive;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    margin: 40px ;
    
}
#animals{
    margin-left: 80px;
    background-image: url('./animalss.jpg' ) ;
}
#animals:hover{
    color:black;
    cursor:pointer;
}
#cars{
    background-image: url('./carss.png' );
}
#cars:hover{
    color:wheat;
    cursor:pointer;
}


#sport{
   color:white;
    background-image: url('./sportss.jpg' );
}
#sport:hover{
    color: black;
    cursor:pointer;
    
}



@media screen and (max-width:700px) {
    .allButtons{
        display:block;
        justify-content: center;
        align-items:center;

    }
}


