body{
    background-image: url('./QuizText-BG.jpg');
    background-repeat: round;
    color:white;
    
}




.title{
    font-size:50px;
    text-align:center;
    
    
}
.title a{
    color: white;
}
.allButtons{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-family:cursive;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    justify-content: center;
    align-items:center;
    margin: 40px;
    
    
}
button{
   justify-content:center;
   align-items:center;
    height: 200px;
    width: 250px;
    font-size: 40px;
    font-family:cursive;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    margin: 60px ;
    
}
.text{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family:cursive;
    font-weight: bolder;
    color: white;
    font-style: oblique;
    justify-content: center;
    align-items:center;
    margin: auto;
}

#animals{
    
    background-image: url('./animalss.jpg' ) ;
    background-repeat: round;
}
#animals:hover{
    color:black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
}
#cars{
    background-image: url('./carimage.jfif' );
    background-repeat: round;
}
#cars:hover{
    color:black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
}


#sport{
   color:white;
    background-image: url('./sportss.jpg' );
    background-repeat: round;
}
#sport:hover{
    color: black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
    
}
#Math{
    
    color:white;
    background-image: url('./math.png' );
    background-repeat: round;
}
#Math:hover{
    color: black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
    
}
#Sciences{
    
    color:white;
    background-image: url('./Sciences.png' );
    background-repeat: round;
}
#Sciences:hover{
    color: black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
    
}

#Arabic{
    
    color:white;
    background-image: url('./arabicmg.jfif' );
    background-repeat: round;
    
}
#Arabic:hover{
    color: black;
    cursor:pointer;
    box-shadow: 10px solid rgb(255, 3, 3);
    transform:scale(1.02);
    transform:transform 300px;
    
}


@media screen and (max-width:700px) {
    .allButtons{
        display:block;
        justify-content: center;
        align-items:center;

    }
}


